%shadow {
  -webkit-filter: drop-shadow(10px 10px 5px rgb(121, 121, 121));
  filter: drop-shadow(10px 10px 5px rgb(121, 121, 121));
}

$color: white;
$background: #525252;

.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1100;

  img {
    @extend %shadow;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 250px;
  }

  .chatbot-bubble {
    @extend %shadow;
    position: absolute;
    bottom: 270px;
    right: 100px;
    width: 400px;
    color: $color;
    background: $background;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 4px;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 8px 16px;

    p {
      margin: 8px 0;
      font-size: large;
    }

    .chatbot-actions {
      margin-top: 16px;
      margin-bottom: 8px;
      display: flex;
      flex-flow: row wrap;
    }

    .chatbot-actions-title {
      margin-right: 16px;
      font-size: medium;
    }
  }
  
  .chatbot-bubble-arrow {
    position: absolute;
    bottom: -20px;
    right: 15px;
    border-left: 20px solid transparent;
    border-top: 20px solid $background;
  }
}